<tr>
    <td>
        <!--[if (gte mso 9)|(IE)]>
        <img src="https://placem.at/things?w={{divide parameters.pagewidth 1 }}&&h={{divide 450 width}}&random={{ text }}" width="{{divide parameters.pagewidth width }}" alt="" />
        <![endif]-->
        <!--[if gt IE 8]> <!-- -->
        <img src="https://placem.at/things?w={{divide parameters.pagewidth 1 }}&&h={{divide 450 width}}&random={{ text }}" width="{{divide parameters.pagewidth 1 }}" alt="" />
        <![endif]-->
    </td>
</tr>
<tr>
    <td class="text">
        {{{ text }}}
    </td>
</tr>