<tr>
    <td>
        <img src="https://placem.at/things?w={{divide parameters.pagewidth width }}&&h={{divide 450 width}}&random={{ text }}" width="{{divide parameters.pagewidth width }}" alt="" />
    </td>
</tr>
<tr>
    <td class="text">
        {{{ text }}}
    </td>
</tr>