<a href="{{ links.cta-j-en-profite }}" class="introtext-jenprofite">
    <!--<img src="images/button-jenprofite-dt.jpg" alt="{{ texts.button-top }}" width="600" height="63" style="width: 600px; height: 63px;" />-->
    <img src="images/button-jenprofite-dt.jpg" alt="{{ texts.button-top }}" width="600" height="63" />
</a>

<!--[if (gte mso 9)|(IE)]>
<p class="ie" style="font-size:12px; line-height:20px; color:#000000">{{{ texts.intro-text }}}</p>
<![endif]-->
<!--[if gt IE 8]> <!-- -->
<p><font color="#000000" face="sans-serif" size="3">{{{ texts.intro-text }}}</font></p>
<![endif]-->

<span class="introtext-descendre">
    <img src="images/button-descendre-dt.jpg" alt="{{ texts.button-top }}" width="600" height="48" />
</span>