<tr>
    <td>
        <table class="outer" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td class="full-width-image">
                    <!--[if (gte mso 9)|(IE)]>
                    <img src="{{ src-desktop }}" width="{{ parameters.pagewidth }}" alt="{{ alt }}"/>
                    <![endif]-->
                    <!--[if gt IE 8]> <!-- --><img src="{{ src-mobile }}" alt="{{ alt }}" width="{{ parameters.pagewidth }}" /><![endif]-->
                </td>
            </tr>
        </table>
    </td>
</tr>