<!--<tr class="{{ className }}">-->
    <!--<td height="10" bgcolor="{{ bgcolor }}"></td>-->
<!--</tr>-->
<tr>
    <td bgcolor="{{ bgcolor }}" width="100%" class="one-column {{ className }}">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="{{ margin }}"><img src="images/spacer.gif"  alt=""></td>
                <td class="inner contents" width="{{ contentwidth }}">
                    {{~> (lookup . 'contentpartial') ~}}
                </td>
                <td width="{{ margin}}"><img src="images/spacer.gif"  alt=""></td>
            </tr>
        </table>
    </td>
</tr>
<!--<tr class="intro-text">-->
    <!--<td height="10" bgcolor="{{ bgcolor }}"></td>-->
<!--</tr>-->