<tr class="intro-text">
    <td height="10"></td>
</tr>
<tr>
    <td class="one-column intro-text">
        <table width="100%">
            <tr>
                <td width="{{multiply parameters.pagewidth 0.1}}"><img src="images/spacer.gif" width="{{multiply parameters.pagewidth 0.1}}" alt=""></td>
                <td width="{{multiply parameters.pagewidth 0.8}}" class="inner contents">
                    <p class="h1">Hello Client,</p>
                    <p>Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
                </td>
                <td width="{{multiply parameters.pagewidth 0.1}}"><img src="images/spacer.gif" width="{{multiply parameters.pagewidth 0.1}}" alt=""></td>
            </tr>
        </table>
    </td>
</tr>
<tr class="intro-text">
    <td height="10"></td>
</tr>